@import url(style.css);

.tic {
    font-weight: 700 !important;
    cursor: pointer;
}

.line-up-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}

.active-stat {
    border: 1px solid white !important;
}

.table-rolls {
    justify-content: space-between;
}







@media (max-width: 450px) {
    .table-rolls {
        overflow: scroll;
        justify-content: space-between;
    }

}
