@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

:root {
    --var : rgb(77, 77, 77);
}

.container {
  width: 60% !important;
  margin: auto;
}

body{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.918)), url('/img/background.jpg');
    background-size: cover;
    /* background-repeat: repeat; */
    background-position: center;
    height: 100vh;
}
.rowling, .rowling-fixture {
    overflow: hidden;
}
.hover {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.hover:hover {
    background-color: #f5f5f567;
    cursor: pointer;
    transform: scale(1.1);
}

.cursour:hover {
    cursor: pointer;
    background-color: #f5f5f53a;
}

.all {
    border-radius: 20px 20px 20px 20px !important;
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
}

.all:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 77) !important;
    transform: translate(0, -5px);
}

.nav-hove a {
    transition: all 0.5s ease-in-out;
}

.nav-hove a:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.active {
    background-color: transparent !important;
    border-bottom: 5px solid rgb(77, 77, 77) !important;
}

button:focus {
    outline: none;
}

.more:hover {
    cursor: pointer;
    background-color: #f5f5f53a;
    border-radius: 20px;
}

/* live change color */
/* .lively {
    transition: all  ease-in-out;
    animation: live 1s infinite;
}

@keyframes live {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
    100% {
        color: blue;
    }
} */

@media screen and (max-width: 450px) {
    .container {
        width: 100% !important;
        padding: 0 !important;
    }

    .rowling {
        transition: all 0.5s ease-in-out;
        height: 100vh;
    }

    .show {
        height: 0;
    }

    .mobile-hide {
        display: none !important;
    }

    .hidden {
        display: block !important;
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 100% !important;
        padding: 0 !important;
    }
}
    

